<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@172.16.89.130:1521:XE</property>
    <property name="hibernate.connection.username">tramitedocumentario_test</property>
    <property name="hibernate.connection.password">tramite$test</property>
    <mapping resource="maping/OficCirc.hbm.xml"/>
    <mapping resource="maping/Dependencia.hbm.xml"/>
    <mapping resource="maping/TipoDocu.hbm.xml"/>
    <mapping resource="maping/Temporalcargos.hbm.xml"/>
    <mapping resource="maping/DetallOficcirc.hbm.xml"/>
    <mapping resource="maping/TramiteDatos.hbm.xml"/>
    <mapping resource="maping/TemporalDi.hbm.xml"/>
    <mapping resource="maping/Jefatura.hbm.xml"/>
    <mapping resource="maping/Constancias.hbm.xml"/>
    <mapping resource="maping/TiposDocumentos.hbm.xml"/>
    <mapping resource="maping/TipoContrato.hbm.xml"/>
    <mapping resource="maping/Oficios.hbm.xml"/>
    <mapping resource="maping/DocusInternos.hbm.xml"/>
    <mapping resource="maping/TramiteMovimiento.hbm.xml"/>
    <mapping resource="maping/Anios.hbm.xml"/>
    <mapping resource="maping/DocusExtint.hbm.xml"/>
    <mapping resource="maping/Usuario.hbm.xml"/>
    <mapping resource="maping/Profesion.hbm.xml"/>
    <mapping resource="maping/TemporalUser.hbm.xml"/>
    <mapping resource="maping/Indicador.hbm.xml"/>
    <mapping resource="maping/Oficina.hbm.xml"/>
    <mapping resource="maping/Temporal.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
